extends /_layout/base.pug

block meta
	- config.page.title = 'Главная';
	- config.page.description = 'Главная';

block content
	include /_includes/threeSteps.pug
	include /_includes/passSection.pug
	include /_includes/textSection.pug
	