extends /_layout/base.pug

block meta
	- config.page.title = 'Title';
	- config.page.description = 'Description';

block layout
	main.main
		.main__header
			.container
				h1.main__title.header-1 #{config.page.title}
		.main__body
			.container.p-0
				.main__inner
					block content