-
	var managers = [
		{
			title: 'manager0',
			email: 'check',
			pass: 'check',
			baseSize: 'server-3',
			web: 'check',
			notReg: 'check',
			rus: 'close',
			free: 'check',
			result: 'check',
			desktop: 'close',
		},
		{
			title: 'manager1',
			email: 'check',
			pass: 'close',
			baseSize: 'server-3',
			web: 'check',
			notReg: 'check',
			rus: 'check',
			free: 'check',
			result: 'check',
			desktop: 'close',
		},
		{
			title: 'manager2',
			email: 'close',
			pass: 'check',
			baseSize: 'close',
			web: 'check',
			notReg: 'check',
			rus: 'check',
			free: 'check',
			result: 'check',
			desktop: 'close',
		},
		{
			title: 'manager3',
			email: 'check',
			pass: 'check',
			baseSize: 'server-3',
			web: 'check',
			notReg: 'close',
			rus: 'close',
			free: 'close',
			result: 'check',
			desktop: 'close',
		},
		{
			title: 'manager4',
			email: 'close',
			pass: 'check',
			baseSize: 'close',
			web: 'close',
			notReg: 'check',
			rus: 'check',
			free: 'check',
			result: 'check',
			desktop: 'close',
		},
		{
			title: 'manager5',
			email: 'check',
			pass: 'close',
			baseSize: 'server-1',
			web: 'check',
			notReg: 'close',
			rus: 'close',
			free: 'close',
			result: 'close',
			desktop: 'close',
		},
		{
			title: 'manager6',
			email: 'minus',
			pass: 'minus',
			baseSize: 'close',
			web: 'check',
			notReg: 'close',
			rus: 'close',
			free: 'close',
			result: 'close',
			desktop: 'check',
		},
	]

section.compare-section
	.container-lg.p-0
		.table-wrapper.table-responsive-md
			table.compare-table.table
				thead
					tr
						th Сравнение менеджеров паролей
						each manager in managers
							td
								.compare-table__logo
									img.compare-table__logo-img(src="/img/content/managers/" + manager.title + ".png" alt=manager.title)
				tbody
					tr
						th
							span Проверка E-mail
						each item in managers
							td
								i(class="icon-" + item.email)

					tr
						th
							span Проверка пароля
						each item in managers
							td
								i(class="icon-" + item.pass)

					tr
						th
							span Размер базы учетных данных
						each item in managers
							td
								i(class="icon-" + item.baseSize)

					tr
						th
							span Наличие web-версии
						each item in managers
							td
								i(class="icon-" + item.web)

					tr
						th
							span.has-aster-1 Не нужна регистрация
						each item in managers
							td
								i(class="icon-" + item.notReg)

					tr
						th
							span Русифицирован
						each item in managers
							td
								i(class="icon-" + item.rus)
						
					tr
						th
							span.has-aster-2 Доступен полностью бесплатно
						each item in managers
							td
								i(class="icon-" + item.free)

					tr
						th
							span Результат проверки доступен сразу
						each item in managers
							td
								i(class="icon-" + item.result)

					tr
						th
							span Наличие десктопной версии
						each item in managers
							td
								i(class="icon-" + item.desktop)
		.table-footnotes
			.table-footnotes__item 
				span *
				| – Не нужно регистрироваться для доступности всего функционала сервиса.
			.table-footnotes__item 
				span **
				| – Бесплатно доступен весь функционал сервиса.