//- project config 

-
	var config = {
		lang: 'ru',
		title: 'AZPassword',
		description: 'AZPassword description',
		color: '#fff',
		url: 'https://azpassword.ru',
		page: {
			title: '',
			description: '',
		},
		og: {
			title: 'open graph title',
			image: 'open graph image',
		},
		software: {
			version: '1.2.0.217',
			size: '6 МБ'
		}
	};

include mixins.pug