section.download-top
	.container
		.row.align-items-center
			.col-12.col-lg-6.col-xl-7
				include /_includes/dlBlock.pug
			.d-none.d-sm-block.col-12.col-lg-6.col-xl-5
				.slider-block
					.owl-carousel
						.owl-carousel__item
							img(src="/img/content/screenshots/slider-img-0.jpg" alt="azpassword screenshot")
						.owl-carousel__item
							img(src="/img/content/screenshots/slider-img-1.jpg" alt="azpassword screenshot")
						.owl-carousel__item
							img(src="/img/content/screenshots/slider-img-2.jpg" alt="azpassword screenshot")