.dl-block
	.container
		h2.dl-block__title.header-2 Скачайте бесплатный генератор паролей для Windows!
		+actionBtn('dl-block__btn', 'Скачать', 'download', true)
		.dl-block__meta
			span.dl-block__meta-row Бесплатное ПО
			span.dl-block__meta-row Версия 
				span #{config.software.version}
			span.dl-block__meta-row Размер файла 
				span #{config.software.size}
		a.dl-block__add-soft(href="#") Содержит дополнительное ПО