-
	var menu = [
		{
			title: 'Генератор паролей',
			link: '#',
		},
		{
			title: 'Украли пароль?',
			link: '#',
		},
		{
			title: 'Скачать AZPassword',
			link: '#',
		},
		{
			title: 'Справка',
			link: '#',
		},
		{
			title: 'Контакты',
			link: '#',
		},
	];

header.header
	.container
		.row
			.col.col-lg-3
				if config.page.title == 'Главная'
					.header__title
						img.header__title-logo(src="/img/logo.svg", alt="azpassword logo")
						.header__title-name
							span az
							| password
				else
					a.header__title(href="/")
						img.header__title-logo(src="/img/logo.svg", alt="azpassword logo")
						.header__title-name
							span az
							| password

			.col-auto.col-lg-9
				nav.header__menu.header-menu
					ul.header-menu__list
						each item in menu
							li.header-menu__item
								a.header-menu__link.container(href=item.link)
									span.header-menu__title #{item.title}
			.col-auto.ml-auto.d-lg-none
				button.header__burger(type="button")
					i.icon-burger
					i.icon-close
