.pass-gen
	.pass-gen__head.pass-gen__head--mob
		.container
			h2.pass-gen__head.pass-gen__head--desc.header-2 Генератор паролей
	.pass-gen__body.pass-gen__body--mob
		.container
			.pass-gen__body.pass-gen__body--desc
				.pass-gen__output
					.input-group
						input(type="text" readonly)
						button.input-group-append(type="button")
							i.icon-copy
				.pass-control
					.pass-control__icon
						i.icon-shield
					.pass-control__length
						.option-title Длина
						.input-group
							button.input-group-prepend(type="button" name="decr")
								i.icon-minus
							input(type="text" name="length" readonly value=8)
							button.input-group-append(type="button" name="incr")
								i.icon-plus
					.pass-control__safety
						.option-title Надежность
						.progress
							.progress-bar(role="progressbar")
					.pass-control__options
						label.pass-control__label
							input.pass-control__input(type="checkbox" name="nums")
							span.pass-control__title.option-title Цифры
							span.pass-control__check
								i.icon-check
						label.pass-control__label
							input.pass-control__input(type="checkbox" name="symbls")
							span.pass-control__title.option-title Спец. символы
							span.pass-control__check
								i.icon-check
					button.pass-control__generate(type="button") Генерировать