-
	var steps = [
		{
			title: 'Изучите инструкцию',
			icon: 'info',
		},
		{
			title: 'Проверьте логин и пароль',
			icon: 'scan',
		},
		{
			title: 'Скачайте программу',
			icon: 'download',
		},
	]

section.three-steps
	.container
		.row
			.col-12.col-xl-3
				.three-steps__title
					i.icon-shield-1
					span Три шага к безопасности
			each step in steps
				.three-steps__cont.col-12.col-md-4.col-xl-3
					.three-steps__item
						a.three-steps__inner(href="#")
							i.three-steps__icon(class="icon-" + step.icon)
							span.three-steps__name #{step.title}
							i.three-steps__arrow.icon-arrow-down

