extends /_layout/page.pug

block meta
	- config.page.title = 'Проверка на скомпрометированность';
	- config.page.description = 'Description';

block content
	include /_includes/checkPassSection.pug
	include /_includes/passState.pug