extends /_layout/page.pug

block meta
	- config.page.title = 'Политика конфиденциальности AZPassword';
	- config.page.description = 'Description';

block content
	.text-article
		p Соблюдение политик конфиденциальности относительно Ваших персональных данных очень важны для нас. Чтобы лучше понять политики сайта, мы предлагаем Вам ознакомиться с правилами защиты и использования персональных данных, которые собираются на страницах AZpassword.
		h3.header-2 Собираемая информация
		p На сайте AZpassword могут запрашиваться следующие идентифицирующие персональные данные: имя, адрес, адрес электронной почты, номер телефона, и информация cookie-файлов, а также о вашей заинтересованности в использовании различных продуктов, программ, и услуг. 
		p Мы также можем запрашивать определенные не персональные идентифицирующие данные при посещении Вами наших веб-страниц, такие как тип браузера, который Вы используете (например, Chrome, Internet Explorer, Opera Browser и другие), тип операционной системы, которую Вы используете, (например, Windows Microsoft или Mac OS) и доменное имя Вашего провайдера услуг интернета (например, МТС, Билайн и другие).
		p Мы также можем использовать программные коды сторонних разработчиков таких как Google Analytics для анализа использования программных продуктов, чтобы развивать их.
		h3.header-2 Использование информации
		p Мы можем использовать информацию, которую Вы предоставляете о себе, чтобы выполнить Ваши заявки о наших продуктах, программах и услугах, чтобы ответить на Ваши запросы о наших предложениях, а также, чтобы предложить Вам другие продукты, программы или услуги, которые, по нашему мнению, могут представлять для Вас интерес.
		p Мы иногда используем эту информацию для общения с Вами, например, когда мы вносим изменения в соглашения с пользователем, чтобы выполнить Ваш запрос о новостной рассылке или запросы поддержки, либо чтобы связаться с Вами.
		p Если Вы предоставляете материал для публикации (например, письмо нашим редакторам, пост в блоге или форуме), то мы можем указать Ваше сетевое имя и другую информацию, предоставленную Вами.
		p Мы также иногда используем полученные не персональные идентифицирующие данные, чтобы улучшить дизайн и содержание нашего сайта и чтобы иметь возможность персонифицировать Вашу интернет-активность.