body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: $color-white;
	color: $color-black;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	font-size: 16px;
}
.header-1 {
	font-size: 25px;
	line-height: 29px;
	font-weight: 900;
}
.header-2 {
	font-size: 17px;
	line-height: 110%;
	font-weight: 700;

	@include media-breakpoint-up(sm) {
		font-size: 20px;
	}
	@include media-breakpoint-up(lg) {
		font-size: 22px;
	}
	@include media-breakpoint-up(xl) {
		font-size: 25px;
	}
}
.action-btn {
	height: 50px;
	display: flex;
	color: $color-white;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: $shadow;

	@include media-breakpoint-up(sm) {
		height: 72px;
	}
	@include media-breakpoint-up(lg) {
		height: 90px;
	}
	&:hover {
		color: $color-white;
		text-decoration: none;

		i {
			background: linear-gradient(180deg, #3f8ddf 0%, #30519f 100%), $grad-blue-hover2;
		}
		span {
			background: linear-gradient(180deg, rgba(83, 209, 245, 0.5) 0%, rgba(241, 248, 250, 0) 100%), $grad-blue-hover;
		}
	}
	&:active {
		i {
			background: #2a448e;
		}
		span {
			background: #36599e;
		}
	}
	i {
		flex: 0 0 auto;
		width: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient(180deg, #3877ba 0%, #30519f 100%),  #37519e;
		font-size: 22px;

		@include media-breakpoint-up(sm) {
			width: 72px;
			font-size: 27px;
		}
		@include media-breakpoint-up(lg) {
			width: 90px;
			font-size: 32px;
		}
	}
	span {
		flex: 1 1 auto;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 0 15px;
		background: linear-gradient(180deg, rgba(83, 209, 245, 0.5) 0%, rgba(241, 248, 250, 0) 100%), #36509e;
		font-weight: bold;
		font-size: 19px;
		line-height: 22px;

		@include media-breakpoint-up(sm) {
			padding: 0 25px;
			font-size: 24px;
			font-size: 28px;
		}
		@include media-breakpoint-up(lg) {
			font-size: 25px;
			line-height: 29px;
		}
	}
}
