.table-wrapper {
	padding: 10px 0 0;

	@include media-breakpoint-up(lg) {
		padding: 20px 15px 0;
	}
}
.compare-table {
	width: 100%;

	td,
	th {
		border: 0;
		padding: 0;
		vertical-align: middle;
	}
	th {
		min-width: 200px;
		padding-left: 15px;
		padding-right: 10px;

		@include media-breakpoint-up(lg) {
			padding-left: 30px;
		}
	}
	td {
		min-width: 60px;
	}
	thead {
		th,
		td {
			margin: 10px 0;
		}
		th {
			vertical-align: middle;
			border: 0;
			color: $color-blue-3;
			font-size: 18px;

			@include media-breakpoint-up(lg) {
				font-size: 22px;
				font-weight: bold;
			}
		}
		td {
			height: 50px;

			&:not(:last-child) {
				.compare-table__logo {
					border-right: 1px solid $color-steel-8;
				}
			}
			@include media-breakpoint-up(lg) {
				min-width: 94px;
			}
		}
	}
	tbody {
		tr {
			&:nth-child(odd) {
				background-color: $color-steel-9;
			}
		}
		th {
			padding: 8px 0;
			padding-left: 15px;
			font-size: 15px;
			font-weight: 500;

			@include media-breakpoint-up(lg) {
				font-size: 17px;
				padding-left: 30px;
			}
			span {
				&::after {
					color: $color-cyan-deep-5;
					padding-left: 0.25em;
					font-weight: bold;
				}
				&.has-aster-1 {
					&::after {
						content: "*";
					}
				}
				&.has-aster-2 {
					&::after {
						content: "**";
					}
				}
			}
		}
		td {
			height: 40px;
			text-align: center;

			@include media-breakpoint-up(lg) {
				width: 94px;
			}
		}
	}
	&__logo {
		
		&-img {
			width: 30px;
			height: 30px;
			margin: auto;
			border-radius: 5px;
		}
	}
	i {
		&.icon-check,
		&.icon-server-1,
		&.icon-server-3 {
			color: $color-green-5;
		}
		&.icon-close {
			color: $color-red-6;
		}
		&.icon-minus {
			color: $color-steel-6;
		}
		&.icon-server-1 {
			display: block;
			height: 10px;
		}
	}
}
.table-footnotes {
	max-width: 500px;
	padding-left: 15px;

	@include media-breakpoint-up(lg) {
		padding-left: 45px;
	}

	&__item {
		margin-bottom: .6em;

		span {
			padding-right: 0.25em;
			color: $color-cyan-deep-5;
			font-weight: bold;
		}
	}
}
