@font-face {
	font-family: "icons";
	src: url($font-path + "icons.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icons" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e91b";
}
.icon-burger::before {
	content: "\e900";
}
.icon-caret-down::before {
	content: "\e901";
}
.icon-caret-left::before {
	content: "\e902";
}
.icon-check::before {
	content: "\e903";
}
.icon-chevron-left::before {
	content: "\e904";
}
.icon-chevron-right::before {
	content: "\e905";
}
.icon-copyright::before {
	content: "\e906";
}
.icon-copy::before {
	content: "\e907";
}
.icon-eye::before {
	content: "\e908";
}
.icon-download::before {
	content: "\e909";
}
.icon-stack::before {
	content: "\e90a";
}
.icon-key::before {
	content: "\e90b";
}
.icon-profile::before {
	content: "\e90c";
}
.icon-pass::before {
	content: "\e90d";
}
.icon-safe::before {
	content: "\e90e";
}
.icon-safety::before {
	content: "\e90f";
}
.icon-hierarchy::before {
	content: "\e910";
}
.icon-facebook::before {
	content: "\e911";
}
.icon-odnoklassniki::before {
	content: "\e912";
}
.icon-vkontakte::before {
	content: "\e913";
}
.icon-plus-solid::before {
	content: "\e914";
}
.icon-minus::before {
	content: "\e915";
}
.icon-plus::before {
	content: "\e916";
}
.icon-question::before {
	content: "\e917";
}
.icon-server-3::before {
	content: "\e918";
}
.icon-share::before {
	content: "\e919";
}
.icon-close::before {
	content: "\e91a";
}
.icon-shield::before {
	content: "\e91c";
}
.icon-asterisk::before {
	content: "\e91d";
}
.icon-user::before {
	content: "\e91e";
}
.icon-gift::before {
	content: "\e91f";
}
.icon-input::before {
	content: "\e920";
}
.icon-server-1::before {
	content: "\e921";
}
